/* =============
    Artifacts
============= */
#Artifacts{
  background-color: $black;
  padding-bottom: 15px;
  article{
    font-family: 'Kodchasan', sans-serif;
    color: $white;
    font-size: rem-calc(16);
    display: grid;
    grid-template-areas: ". red-para";
    grid-template-columns: 40% auto;

    #red-para{
      grid-area: red-para;
      background-color: $red;
      line-height: rem-calc(25);
      padding: 15px 30px;
      text-align: left;
    }
  }

  section{
    ul{
      display: grid;
      grid-template-areas: ". redLine";
      grid-template-columns: 20% auto;

      #red-line{
        grid-area: redLine;
        background-color: $red;
        height: 15px;
        width: 100%;
      }
    }
  }

  ul{
    font-family: 'Kodchasan', sans-serif;
    color: $white;
    font-size: rem-calc(16);
    display: grid;
    grid-template-areas: ". line black-para";
    grid-template-columns: 20% auto auto;

    #black-para{
      grid-area: black-para;
      line-height: rem-calc(25);
      padding: 25px 15px 0 25px;
      text-align: left;
      font-weight: 300;
    }

    #line{
      grid-area: line;
      background-color: $red;
      width: 15px;
    }
  }
}
