/* ===================
    Artifacts-header
====================== */
#Artifacts-header{
  div{
    background-image: url("../img/gallery/comic-man.jpg");
    background-position: right;
    background-size: cover;
    height: 229px;
    padding: 10px;

    h2{
      font-family: 'Kodchasan', sans-serif;
      color: $white;
      font-size: rem-calc(24);
      text-align: center;

      span{
        font-size: rem-calc(30);
        padding-left: 5px;
      }
    }
  }
}
