/* =============
    Exhibit
============= */
#Exhibit{
  background-color: $black;
  background-image: url("../img/gallery/marvel-avengers-poster.jpg");
  background-position: -200px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
  // margin-bottom: 15px;
  height: 260px;

  h1{
    color: $white;
    font-size: rem-calc(23);
    font-weight: 500;
    font-family: 'Kodchasan', sans-serif;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  p{
    color: $white;
    font-family: 'Kodchasan', sans-serif;
    font-size: rem-calc(16);
    font-weight: 300;
    width: 180px;
    padding-bottom: 30px;

    span{
      font-weight: 400;
      font-style: italic;
    }
  }
}
