/* =============
    Marvel
============= */
#MARVEL{
  background-image: url("../img/hero/MARVEL.jpg");
  background-position: center;
  background-size: cover;
  padding: 25px;
  height: 321px;

  h1{
    display: flex;
    justify-content: center;
    background-color: $red;
    font-family: 'Kodchasan', sans-serif;
    font-size: rem-calc(17);
    margin: 270px 42px;
    border: 3px solid $darkred;
    padding: 3px 0;

    a{
      text-decoration: none;
    }
  }
}
