/* =============
    Marvel
============= */
#MARVEL{
  background-image: url("../img/hero/MARVEL.jpg");
  background-position: center;
  background-size: cover;
  padding: 25px;
  height: 321px;
  width: 555;
}
