/* =============
    Overview
============= */
#Overview{
  font-family: 'Kodchasan', sans-serif;
  background-color: $black;
  padding-top: 30px;

  section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h1{
      font-weight: 600;
      color: $white;
      font-size: rem-calc(36);
      transform: rotate(-90deg);
      padding-top: 65px;
    }

    img{
      height: 187px;
      width: 187px;
    }
  }

  article{
    padding-top: 40px;
    padding-bottom: 40px;
    p{
      background-color: $white;
      font-size: rem-calc(16);
      line-height: 20px;
      text-align: center;
      padding: 10px;
      font-weight: 300;
    }
  }

  div{
    padding-bottom: 20px;
    p{
      background-color: $white;
      font-size: rem-calc(16);
      line-height: 25px;
      text-align: center;
      padding: 15px;
      font-weight: 300;
    }
  }
}
