/* =============
    Tickets
============= */
#Tickets{
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 15px;
  background-color: $grey;
  h1{
    color: $white;
    font-family: 'Kodchasan', sans-serif;
    background-color: $black;
    padding: 6px;
    margin-right: 215px;
    font-size: rem-calc(23);
    font-weight: 500;
    line-height: 20px;
  }

  img{
    width: 172px;
  }

  article{
    p{
      font-family: 'Kodchasan', sans-serif;
      font-size: rem-calc(16);
      color: $white;
      background-color: $black;
      padding: 10px;
    }
  }

  section{
    p{
      font-family: 'Kodchasan', sans-serif;
      font-size: rem-calc(16);
      color: $white;
      background-color: $black;
      padding: 10px;
    }
  }
}
